- unless (@q.nil? or @q.empty?)
  #navigation
    - if @p == 1
      %span.disabled Previous page
    - else
      %a{:href => url('', :q => @q, :p => @p-1)} Previous page
    %a{:href => url('', :q => @q, :p => @p+1)} Next page
  = partial :result, :collection => @results
  %p#legend>
    %span
      You can see the results in Cool Iris or with
      %a{:href => "javascript:PicLensLite.start();"} PicLens
      (the link will work after a few seconds)
  %script{:type => "text/javascript", :src => "http://lite.piclens.com/current/piclens.js"}
  %p= "FROM FILE" if @file

    
    
