body
  :text-align center
  :line-height 1.3
  
h1
  :font-size 2em

label
  :line-height 3
  
#search
  :display block
  :margin 0 auto 0 auto
  :font-size 1.3em
  
#legend
  :margin-top 2em
  span
    :background-color #EBEBEB
    :padding 0.5em